/env*/
/.idea
__pycache__/
*.py[cod]
*.cache
.pytest_cache/
.coverage.*
/.coverage
/htmlcov/
/build
/dist
/demo.py
*.egg-info
/docs/_build/
/.mypy_cache/
/demo/tmp/
.vscode/
.venv/
/.auto-format
/scratch/
