name: CI

on:
  push:
    branches:
      - main
      - v0.23-branch
    tags:
      - '**'
  pull_request: {}

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: set up python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - run: pip install -r requirements/linting.txt -r requirements/pyproject.txt pre-commit

    - run: pre-commit run -a

  docs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: set up python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - run: pip install -r requirements/docs.txt -r requirements/pyproject.txt
    - run: pip install .

    - run: make docs

  test:
    name: test py${{ matrix.python }} with redis:${{ matrix.redis }} on ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu]
        python: ['3.7', '3.8', '3.9', '3.10', '3.11-dev']
        redis: ['5']
        include:
          - python: '3.10'
            redis: '6'
            os: 'ubuntu'
          - python: '3.10'
            redis: '7'
            os: 'ubuntu'

    env:
      PYTHON: ${{ matrix.python }}
      OS: ${{ matrix.os }}

    runs-on: ${{ format('{0}-latest', matrix.os) }}

    services:
      redis:
        image: redis:${{ matrix.redis }}
        ports:
        - 6379:6379
        options: --entrypoint redis-server

    steps:
    - uses: actions/checkout@v2

    - name: set up python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python }}

    - run: pip install -r requirements/testing.txt -r requirements/pyproject.txt

    - run: make test

    - run: coverage xml

    - uses: codecov/codecov-action@v2
      with:
        file: ./coverage.xml
        env_vars: PYTHON,OS

  deploy:
    name: Deploy
    needs: [lint, docs, test]
    if: "success() && startsWith(github.ref, 'refs/tags/')"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: set up python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: install
        run: pip install -U twine build packaging

      - name: check version
        id: check-version
        run: python <(curl -Ls https://gist.githubusercontent.com/samuelcolvin/4e1ad439c5489e8d6478cdee3eb952ef/raw/check_version.py)
        env:
          VERSION_PATH: 'arq/version.py'

      - name: build
        run: python -m build

      - run: twine check dist/*

      - name: upload to pypi
        run: twine upload dist/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.pypi_token }}

      - name: publish docs
        if: '!fromJSON(steps.check-version.outputs.IS_PRERELEASE)'
        run: make publish-docs
        env:
          NETLIFY: ${{ secrets.netlify_token }}
